
button {
  margin: 10px 0;
}

table {
  margin: 10px 0;
  td, th {
    padding: .1rem !important;
    text-align: center;
  }
}

ul {
  padding: 0;
  margin: 0;
  font-weight: 400;

  li {
    margin: 0 5px;
    list-style: none;
    display: inline-block;
  }
}

.row {
  margin: 0;
}
.col {
  // padding: 0 8.5px;
  padding: 0;
  min-width: 20px;
  z-index: 1001;

  &.checked {
    border-radius: 12px;
    color: #fff;

    &:before {
      content: 'Y';
    }

    &.color-1 {
      background: #c1a5e5;
    }

    &.color-2 {
      background: #47d072;
    }

    &.color-3 {
      background: #ffc076;
    }
  }
}

td {
  border-top-style: dashed !important;

  &:nth-child(n+3) {
    &:nth-child(-n+7) {
      .col {
        font-weight: bold;
        color: #fff;
    
        &:empty {
          width: 0;
        }
      }
    }
  }
}

.container-fluid {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
}